<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心-消息中心详情页</title>
</head>
<body>
	<div class="pc_h_msg_detail">
		<p class="detail_title"><span onclick="gotoMenu(0,'pc_home.html')">我的主页</span>&nbsp;&gt;&nbsp;<span onclick="gotoMenu(0,'pc_h_messagecenter.html')">消息中心</span>&nbsp;&gt;&nbsp;<span class="blu">消息详情</span></p>
		<div class="content">
			<div class="con">
				<span class="title">GMAT更新分享！！！</span>
				<span class="send">发件人：wendy-0819<span class="time">时间：2016-02-15</span></span>
				<p>
					2016上半年GMAT考试时间：<br/>
					1月8日&nbsp;1月8日&nbsp;1月8日&nbsp;1月8日&nbsp;1月8日&nbsp;<br/>
					1月8日&nbsp;1月8日&nbsp;1月8日&nbsp;1月8日&nbsp;1月8日&nbsp;<br/>
					1月8日&nbsp;1月8日&nbsp;1月8日&nbsp;1月8日&nbsp;1月8日&nbsp;<br/>
				</p>
			</div>
			<div class="before">上一条：GMAT更新换库时间分享！！！</div>	
			<div class="after">下一条：考试地点去哪里查询？</div>	
		</div>
		
	</div>
</body>
</html>