<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心-主页-消息中心</title>
</head>
<body>
	<div class="pc_hmscenter">
		<div class="pc_h_title">消息中心</div>	
		<div class="pc_topic">
			<div class="all">
				<span>选择：</span>
				<input type="checkbox" id="selectall"><label for="selectall">全选</label>
				<span class="deleteall">全部删除</span>
				<span class="sort">时间排序</span>
			</div>
			<table border="0" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<td width="100">序号</td>
						<td width="">发件人</td>
						<td width="">主题</td>
						<td width="">发送时间</td>
						<td width="">操作</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="checkbox">01</td>
						<td>xxxx</td>
						<td class="t-title" onclick="gotoMenu(0,'pc_h_msg_detail.html');">练习题目练习题目练习题目练习题目练习题目练习题目</td>
						<td>2016-09-10&nbsp;16:00</td>
						<td>
							<span class="delete">删除</span>
						</td>
					</tr>
					<tr>
						<td><input type="checkbox">02</td>
						<td>xxxx</td>
						<td class="t-title" onclick="gotoMenu(0,'pc_h_msg_detail.html');">练习题目练习题目练习题目练习题目练习题目练习题目</td>
						<td>2016-09-10&nbsp;16:00</td>
						<td>
							<span class="delete">删除</span>
						</td>
					</tr>
					<tr>
						<td><input type="checkbox">03</td>
						<td>xxxx</td>
						<td class="t-title" onclick="gotoMenu(0,'pc_h_msg_detail.html');">练习题目练习题目练习题目练习题目练习题目练习题目</td>
						<td>2016-09-10&nbsp;16:00</td>
						<td>
							<span class="delete">删除</span>
						</td>
					</tr>
					<tr>
						<td><input type="checkbox">04</td>
						<td>xxxx</td>
						<td class="t-title" onclick="gotoMenu(0,'pc_h_msg_detail.html');">练习题目练习题目练习题目练习题目练习题目练习题目</td>
						<td>2016-09-10&nbsp;16:00</td>
						<td>
							<span class="delete">删除</span>
						</td>
					</tr>
					<tr>
						<td><input type="checkbox">05</td>
						<td>xxxx</td>
						<td class="t-title" onclick="gotoMenu(0,'pc_h_msg_detail.html');">练习题目练习题目练习题目练习题目练习题目练习题目</td>
						<td>2016-09-10&nbsp;16:00</td>
						<td>
							<span class="delete">删除</span>
						</td>
					</tr>
					<tr>
						<td><input type="checkbox">06</td>
						<td>xxxx</td>
						<td class="t-title" onclick="gotoMenu(0,'pc_h_msg_detail.html');">练习题目练习题目练习题目练习题目练习题目练习题目</td>
						<td>2016-09-10&nbsp;16:00</td>
						<td>
							<span class="delete">删除</span>
						</td>
					</tr>
				</tbody>	
			</table>
			<div class="all all_bottom">
				<span>选择：</span>
				<input type="checkbox" id="selectall"><label for="selectall">全选</label>
				<span class="deleteall">全部删除</span>
			</div>		
		</div>
		<div class="commonpage"></div>	
	</div>
<script type="text/javascript">

$(function(){
	var pageSize=6;
	var total=110;
	var totalPage=10;
	var current=1;
	  // total= getList(current,pageSize);
	  // totalPage=parseInt(((total+pageSize)-1)/pageSize);
	$(".commonpage").createPage({
		 pageCount:totalPage,//页数的总数
         pageSize:pageSize,//每页10条记录
         current:current, //默认第一页
         position:"center",
         backFn:function(pageCurrent,pageSize,pageCount){
        	// var pageCurrent=current;
 	     } 
  	});

	$(".pc_topic").on("click","#selectall",function(){
		var $checkbox =$(this).parents().find("input[type='checkbox']");
		$.each($checkbox,function(i,v){
			if(!v.checked){
				v.checked=true;
			}
		})
	})
	$(".pc_topic").on("click",".delete",function(){
		layer.confirm("是否删除该条记录",{icon:3,title:"提示"}, function(index){
			layer.alert("是");
			layer.close(index);
		})
	})
	$(".pc_topic").on("click",".deleteall",function(){
		layer.confirm("是否删除全部",{icon:3,title:"提示"}, function(index){
			layer.alert("是");
			layer.close(index);
		})
	})
});
</script>	
</body>
</html>