<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人主页-意见建议</title>
</head>
<body>
	<div class="pc_advice">
		<div class="pc_h_title">意见反馈</div>
		<div class="advicebox">
			<form action="">
				<input type="text" value="您的主题" onfocus="if(value=='您的主题'){value=''}" onblur="if(value==''){value='您的主题'}">
				<textarea id="" type="text" placeholder="输入你想问的问题"></textarea>
				<input type="button" id="adviceSubmit" class="btnsubmit commonbtn" value="提交">
			</form>			
		</div>
	
	</div>
<script type="text/javascript">
	$("#adviceSubmit").click(function(){
		layer.confirm("是否确定提交",{icon:3,title:"提示"}, function(index){		
			layer.close(index);
			layer.alert("提交成功！",{icon:1});
			gotoMenu(0,"pc_home.html");
		})
	})
</script>
</body>
</html>