<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心-他人主页</title>
</head>
<body>
	<div id="p_center_left" class="left">
		<div class="personal">
			<div class="personal_top">
				<div class="pic">
					<img src="../images/online_exer_1.png">
				</div>
				<div class="vip">
					<img src="../images/online_exer_3.png">
				</div>	
			</div>
			<div class="name">
					<span>XXXXXXXXXX</span><br/>
					<a href="pc_vip.html" class="vip">升级为VIP</a>
			</div>
			<div class="personal_bottom">
				<div class="personal_1">
					<h1>VIP会员</h1>
					<h2>用户类型</h2>
				</div>
				<div class="personal_2"></div>
				<div class="personal_3">
					<h1>20小时</h1>
					<h2>学习时长</h2>
				</div>
			</div>
		</div>	
		<div class="hot_student border-common">
				<div class="pc_title"><span>人气学员</span></div>
				<ul>
					<li onclick="changeAdmin(true,'pc_index_guest.html')">
						<span class="p_logo"><img src="../images/succ_case_1.png"></span>
						<span class="p_name">wendy</span>
					</li>
					<li onclick="changeAdmin(true,'pc_index_guest.html')">
						<span class="p_logo"><img src="../images/succ_case_2.png"></span>
						<span class="p_name">wendy</span>
					</li>
					<li onclick="changeAdmin(true,'pc_index_guest.html')">
						<span class="p_logo"><img src="../images/succ_case_3.png"></span>
						<span class="p_name">wendwendywendywendywendyy</span>
					</li>
					<li onclick="changeAdmin(true,'pc_index_guest.html')">
						<span class="p_logo"><img src="../images/online_exer_7.png"></span>
						<span class="p_name">wendy</span>
					</li>
					<li onclick="changeAdmin(true,'pc_index_guest.html')">
						<span class="p_logo"><img src="../images/online_exer_5.png"></span>
						<span class="p_name">wendy</span>
					</li>
					<li onclick="changeAdmin(true,'pc_index_guest.html')">
						<span class="p_logo"><img src="../images/online_exer_6.png"></span>
						<span class="p_name">wendy</span>
					</li>
					<li onclick="changeAdmin(true,'pc_index_guest.html')">
						<span class="p_logo"><img src="../images/online_exer_6.png"></span>
						<span class="p_name">wendy</span>
					</li>
				</ul>
			</div>		
	</div>
	<div id="pc-home-container">
		
	</div>	
<script type="text/javascript">
	$("#pc-home-container").load("pc_historytalk.html");
</script>
</body>
</html>