<body style="background-color:#f1f1f1;">
	<div class="p_centerhead">
		<div class="head">
			<h1 class="logo">
				<a><img src="public/images/logo_p.png"></a>
			</h1>
			<div class="phead_links">
				<span class="p_exit"><a>退出</a></span>
				<span class="p_home"><a>首页</a></span>
				<span class="personalinfo" ui-sref="index.home" title="点击返回我的主页">wendy-0809 </span>
				<span class="rubbish com-ico" title="垃圾桶" ui-sref="index.h_rubbish"></span>
				<span class="messagecenter com-ico" title="消息中心" ui-sref="index.h_messagecenter">
					<em id="messageNum" class="num">99</em>
				</span>
				<span class="advice com-ico" title="意见建议" ui-sref="index.h_advice"></span>
			</div>
		</div>
	</div>
	<div id="p_index_container" class="online_exercise">
		<div ui-view="mainLeft" style="width: 200px;float: left;">
			左侧菜单加载中...
		</div>
		<div ui-view="mainRight" style="width: 980px;float: right;">
			右侧内容加载中...
		</div>
	</div>
	<div class="footer">
		<a>网站说明</a>     
		<a>客服电话</a>    
		<a>联系我们</a>          
	</div>	
<!--<script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>	
<script type="text/javascript" src="../js/global-pcenter.js"></script>
<script type="text/javascript" src="../js/page/page.js"></script>
<script type="text/javascript" src="../js/layer-v2.1/layer.js"></script>
<script type="text/javascript" src="../js/roll.js" ></script>
<script type="text/javascript" src="../js/time1.js" ></script>
<script type="text/javascript" src="../js/time_show.js" ></script>
<script type="text/javascript" src="../js/TweenMax.min.js"></script>
<script type="text/javascript" src="../js/calendar/My97DatePicker/WdatePicker.js"></script>-->
<script type="text/javascript">
$(function(){
	setMmessageNum();
})
function setMmessageNum(){
	var value = parseInt($("#messageNum").html());
	if(value>99){
		value =99;
		$("#messageNum").html(value+"+");
	}
	if(value==0){
		$("#messageNum").hide();
	}
}
</script>