<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心-我的提问</title>
</head>
<body>
	<div class="pc_myq_detail">
		<p class="detail_title"><span onclick="gotoMenu(0,'pc_home.html')">我的主页</span>&nbsp;&gt;&nbsp;<span onclick="gotoMenu(6,'pc_myquestions.html')">我的提问</span>&nbsp;&gt;&nbsp;<span class="blu">问题详情</span></p>
		<h2>
			问：<span class="p-title">2016年GMAT考试时间是什么？</span>
		</h2>
		<div class="response">
			<span class="word">回复：</span>
			<span class="back">
				1月2月3月1月2月3月1月2月3月1月2月3月1月2月3月1月2月3月1月2月3月1月2月3月1月2月3月1月2月3月1月2月3月1月2月3月1月2月3月1月2月3月1月2月3月1月2月3月1月2月3月1月2月3月1月2月3月1月2月3月1月2月3月1月2月3月
			</span>
		</div>
		<div class="preone">上一条：GMAT注意事项有哪些？	</div>	
		<div class="nextone">下一条：考试地点去哪里查询？	</div>	
	</div>
</body>
</html>