<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>购买记录详情页</title>
</head>
<body>
	<div class="pc_detail_buy">
		<p class="detail_title"><span onclick="gotoMenu(0,'pc_home.html')">我的主页</span>&nbsp;&gt;&nbsp;<span onclick="gotoMenu(7,'pc_r_record.html')">购买记录</span>&nbsp;&gt;&nbsp;<span class="blu">订单详情</span></p>
		<div class="buy_content">
			<img src="../images/buy.png" alt="">
			<div class="detail">
				<span class="del_1">商品名称：GMAT阅读课程</span><br/>
				<span>订单号：001</span><br/>
				<span>付款金额：<span class="bi">￥2000</span></span><br/>
				<span>下单时间：2016-02-01</span><br/>
				<span>有效期：2016-05-06</span><br/>
				<span>数量：1</span><br/>
				<span>订单状态：已完成</span><br/>
				<span class="bi">即时生效</span>
			</div>
		</div>
		<div class="product">
			<span>产品信息</span>
			<p>GDW题目是从2002年左右开始出现的真题，包含完整的Math部分。GDW题目是从2002年左右开始出现的真题，包含完整的Math部分。GDW题目是从2002年左右开始出现的真题，包含完整的Math部分。GDW题目是从2002年左右开始出现的真题，包含完整的Math部分。GDW题目是从2002年左右开始出现的真题，包含完整的Math部分。GDW题目是从2002年左右开始出现的真题，包含完整的Math部分。GDW题目是从2002年左右开始出现的真题，包含完整的Math部分。</p>
		</div>
	</div>
</body>
</html>