<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心-升级为vip</title>
	<link href="../images/favicon.png" rel="shortcut icon">
	<link rel="stylesheet" type="text/css" href="../css/base.css">	
</head>
<body style="background-color:#f1f1f1;">
<div class="p_centerhead">
		<div class="head">
			<h1 class="logo">
				<a href="../index.html"><img src="../images/logo_p.png"></a>
			</h1>
			<div class="phead_links">
				<span class="p_exit"><a href="#">退出</a></span>
				<span class="p_home"><a href="../index.html">首页</a></span>
				<span class="personalinfo" onclick="window.location.href='pc_index.html'" title="点击返回我的主页">wendy-0809 </span>
			</div>
		</div>
	</div>
<div class="pc_vip">
	<div class="vip_img">
		<img src="../images/vip_01.png" alt="">
	</div>
	<div class="service">
		<span class="title">选择升级VIP服务</span>
		<dl>
			<dd><input type="radio" name="radio1" id="radio1" checked="checked"><label for="radio1">充值<span class="re">1999</span>元<span class="line">&nbsp;原价2999元&nbsp;</span>,获得<span class="re">终身</span>VIP会员，<span class="re">590</span>套VIP题库免费无线下载<span class="sale">（今日促销）</span></label></dd>
			<dd><input type="radio" name="radio1" id="radio2"><label for="radio2">充值<span class="re">999</span>元，获得<span class="re">一年</span>VIP会员，<span class="re">490</span>套VIP题库免费无线下载</label></dd>
			<dd><input type="radio" name="radio1" id="radio3"><label for="radio3">充值<span class="re">599</span>元，获得VIP会员，<span class="re">290</span>套VIP题库免费无线下载</label></dd>
		</dl>
		<span class="title">选择充值方式</span>
		<ul>
			<li><input type="radio" name="radio2" id="radio4" checked="checked"><label for="radio4"><img disabled="" src="../images/vip_02.png" alt=""></label></li>
			<li><input type="radio" name="radio2" id="radio5"><label for="radio5"><img disabled="" src="../images/vip_03.png" alt=""></label></li>
			<li><input type="radio" name="radio2" id="radio6"><label for="radio6"><img disabled="" src="../images/vip_04.png" alt=""></label></li>
		</ul>
		<span class="pay">立即支付</span>
	</div>
</div>
<script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>	
<script type="text/javascript" src="../js/global-pcenter.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>